# =======================
# Core Dependencies
# =======================
django
djangorestframework

# =======================
# Image Processing
# =======================
pillow

# =======================
# Deployment
# =======================
gunicorn
whitenoise
dj_database_url

# =======================
# Database (PostgreSQL)
# =======================
psycopg2-binary

# =======================
# Frontend (React)
# =======================
django-cors-headers
npm

# =======================
# AI & Machine Learning
# =======================
numpy==1.26.4
h5py==3.12.1
tensorflow==2.16.2
keras==3.8.0
torch==2.2.2
torchvision==0.17.2

# =======================
# Testing
# =======================
pytest
