# =======================
# Core Dependencies
# =======================
django
djangorestframework

# =======================
# Image Processing
# =======================
pillow

# =======================
# Deployment
# =======================
gunicorn
whitenoise
dj_database_url

# =======================
# Database (PostgreSQL)
# =======================
psycopg2-binary

# =======================
# Frontend (React)
# =======================
django-cors-headers
npm

# =======================
# AI & Machine Learning
# =======================
h5py
tensorflow
keras
torch
torchvision

# =======================
# Testing
# =======================
pytest
